@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.text-1 {
  @apply text-[32px] font-bold leading-[120%];
}

.text-2 {
  @apply text-xl font-bold leading-[120%];
}

.text-3 {
  @apply text-[16px] leading-normal;
}

.text-4 {
  @apply text-sm leading-normal;
}

.text-4-bold {
  @apply text-sm font-bold leading-normal;
}

.text-5 {
  @apply text-xs leading-normal;
}

.text-5-bold {
  @apply text-xs font-bold leading-normal;
}
